{% extends "shop/base.html" %}
{% block content %}
</br>
</br>
    <hr>
    <h1 class="intro-text text-center">Merci !</h1>
    <hr class="detail-separator">
    <p> Votre paiement à été bien prise en compte vous serez livré dans 24 heures </p>

    <hr>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZSbuikMdgqA" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
 <!--<em>{{ album_title }}</em>-->



